body{
 font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
 font-size: large;
 background: #9897ab;
 color: rgb(10, 10, 30);
 display: flex;
 align-items: center;
 justify-content: center;
  height: 100vh;
}

.container {
    text-align: center;
    padding: 20px;
}

.myButton {
    padding: 10px 20px;
    margin: 10px;
    font-size: 16px;
    cursor:pointer;
    border-radius: 8px;
}
